---
name: home
url: /
---
<div class="grid-block">
 <div class="grid-content" align="center">
  <h1>Search Property History</h1>
  <p class="lead">Find ownership and lien history for any property in Amarillo</p>
  <div class="grid-content medium-6">
  <select name="" id="">
<option value="">Potter County</option>
<option value="">Randall County</option>
</select>
  <span class="inline-label">
  <input type="search" placeholder="Type property address">
  <a href="#" ui-sref="results" class="button">Search</a>
  </span>
 </div>
  </div>
</div>
<hr>

